@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Pochaevsk&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    user-select: none;
    background: url(/sources/guideback.jpeg);
}

header{
    padding: 0;
    margin:0;
}
.nav{
    position:fixed;
    top:0;
    z-index: 5;
    height:8vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    color: white;
}
.nav.scrolled{
   background-color: maroon;
}
.nav h1{
    position:absolute;
    left:8%;
    font-size:x-large;
    text-transform: uppercase;
    font-weight: 100;
}
.nav span{
   font-size: xx-large;
}
.nav ul {
    display: flex;
    list-style: none;
    position: absolute;
    right:4%;
    padding: 0;
    margin: 10px 0;
    font-weight: 200;
}
.nav li{
   display: inline-block;
   padding:5px 25px;
   &:hover{
     transform: scale(1.2);
   }
}
.nav .active{
   text-decoration: underline 4px #b07705;
   text-underline-offset: 5px;
}
.nav a{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1em;
    &:hover{
        color:#b07705;
    }

}


.mainh {
    position: relative;
    width: 100%;
    font-size: 5em;
    font-weight: 100;
    filter: brightness(100%);
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 8vh;
    padding-top: 8vh;
    
}

.mainhr {
    height: 5px;
    width: 60%;
    margin-bottom: 5vw;
    background-color: white;
}

.cities {
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}
.city-box {
    border: 2px solid maroon;
    background-color: #b07705;
    padding: 20px;
    width: 65vw;
    margin: 20px 0;
    background-color: #f5e9e9; /* Light maroon tint */
    border-radius: 10px;
    height: fit-content;
    width: 70%;
    background-color: white;
    margin-bottom: 5vh;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    position: relative;
    justify-content: center;
    left: 15%;
}

.city-heading {
    font-family: "Pochaevsk", serif;
    font-size: 48px;
    color: maroon;
    text-align: center;
    font-weight: bold;
    margin:10px;
}

.details{
    display: flex;
    gap:4rem;
}

.guide-box {
    border: 1px solid maroon;
    padding: 15px;
    margin: 10px 0;
    justify-content: center;
    width: 77%;
    padding-left: 20%;
    background-color: #faeeee; /* Slightly lighter maroon shade */
    border-radius: 5px;
}

.guide-box h3 {
    line-height: 3.5vh;
    text-transform: capitalize;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 5px;
    color: maroon;
    font-weight: bold;
    font-family: "Pochaevsk", serif;
}

.guide-box ul div {
    font-size: 17px;
    color: #000000; /* Darker maroon for text */
}


footer {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-top: 5vh;
    height: 40vh;
    width: 100%;
    justify-content: center;
    background-color: maroon;
    color: white;
}

footer p {
    font-family: "Pochaevsk", serif;
    text-align: center;
    padding: 0%;
    margin-bottom: 0;
    color: white;
}